@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-bg: #09090b;
  --color-brand-surface: #18181b;
  --color-brand-border: #27272a;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents the 'double scrollbar' on the whole page */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}